{% block content %} 
<div class="page text">
	<p><small>No. 1, Spring 2013</small></p>
	<h1>{{ mixture.project_name }}</h1>
	<p><em>{{ mixture.project_description }}</em></p>
</div>

{% for photo in global.photos %}

<div class="page page-foto">
	<img src="{{ photo.url }}" width="180" height="240" />
	<p>{{ photo.caption }}</p>
</div>

{% endfor %}

<div class="page page-text">
	
	<a href="tel:+34622506214">+34 622 50 62 14</a>
	<a href="mailto:james@fgvl.com">james@fgvl.co</a>
	
	<h3>Who is James Fehr?</h3>
	<p>Perhaps my greatest fault is being too broad in my skillset, but web design and photogrpahy are two big passions of mine.</p>
	
</div>


{% endblock %}